<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User list</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list #animated>
    <ion-item *ngFor="let user of user_list" (click)="select(user)">
      <ion-label>
        <h2>{{user["name"]}}</h2>
        <h3>{{"Age " + user["age"]}}</h3>
        <p>{{"Occupation " + user["occupation"]}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

